html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior:smooth;
}

body {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  width: 100%;
}

h1 {
  font-size: 35px;
  text-shadow: 2px 2px pink;
}

h2 {
  font-size: 20px;
  padding-top: 10px;
  letter-spacing: 5px;
}

.header {
  display: flex;
  justify-content: center
}

.nav {
  font-family: fantasy;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  border-right: 1px solid black;
  color: black;
  font-size: 50px;
}

.nav li a:hover {
  color: pink;
  background-color:
}

/* MOBIL MENY */
.menu-t {
  display: none;
}

.change .menu-t {
  -webkit-transition: all 0.4s linear;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 60px;
}

.line1, .line2, .line3 {
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 6px 0 7px 10px;
  transition: 0.9s;
}

.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  cursor: pointer;
  margin-right: auto;
  flex: 1 1 auto;
  position: fixed;
  width: 100%;
}

.bmenu {
  font-family: geogrotesque;
  /* padding: 50px 0px; */
  margin: 0 auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.80);
}

.bmenu li {
  font-size: 40px;
  display: block;
  line-height: 100px;
  text-align: center;
}

.bmenu li a {
  /* color: transparent; */
  text-decoration: none;
  color: pink;
  display: block;
  text-align: center;
  text-shadow: 0px 0px 0px #fff;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
}

@media (min-width: 600px) {
  .menu {
    display: none;
  }
}
/* MOBIL MENY */

.content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: geogrotesque;
  min-height: 400px;
}

.content-padding {
  padding-top: 250px;
}

.button {
  font-family: geogrotesque;
  background-color: pink;
  border: none;
  color: black;
  padding: 24px 40px;
  font-size: 23px;
  margin: 34px;
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none;
}

.news {
  background-color: white;
  min-height: 700px;
  margin-right: 15%;
  margin-left: 15%;
}

.strong {
  font-weight: bold;
  padding-bottom: 10px;
}

.h1-news {
  padding-top: 20px;
  letter-spacing: 10px;
}

.p1-news {
  padding-top: 10px;
}

.p2-news {
  padding-top: 20px;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  margin: 0;
  padding: 0;
}

/* MODAL */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 10%; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: white;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 50%;
text-align: center;
margin-top: 10px;
}

.modal-header {
  padding-bottom: 25px;
}
/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.modal-form {
margin-bottom: 10px;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

/* LEADERBOARD */
.teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
}

.team1 {
  border: 10px groove yellow;
  margin-top: 20px;
  background-color: pink;
  width: 300px;
  height: 350px;
}

.team2 {
  margin-top: 20px;
  border: 10px dotted yellow;
  background-color: #deb3e1;
  width: 300px;
  height: 350px;
}

.team3 {
  border: 10px ridge turquoise;
  margin-top: 20px;
  background-color: #deb3e1;
  width: 300px;
  height: 350px;
}

.p-tagg {
  text-align: left;
  padding: 3px 10px 10px 10px;
  border-bottom: 1px solid black;
}

.leader-b {
  min-height: 600px;
    background: repeating-linear-gradient(-45deg, #e9dcdc, #deb3e1 10px, #ede8e82e 0, #e9e1e15c 20px);
}
