html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #CCC;
}

/*Adapt the following styling depending on where you want to put your map. If you want a 'full screen' map, then set the width and height to 100 percent and remove the margins.*/

#game-map {
  height: 93%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pop_up_box_text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: inline;
}

.navbar-inverse {
  margin: 0px !important;
  border-radius: 0 !important;
}

@media (max-width: 773px) {
  .navbar-header {
    display: none;
  }
  #game-map {
    height: 91.3%;
    width: 100%;
  }
}

.center-header {
  text-align: center;
  font-size: 1.8em;
}

.btn11 {
  border-radius: 6px;
  box-shadow: none;
  border: none;
  background-color: #00CED1;
  margin: 11px 0;
  padding: 5px 0;
  font-size: 1.2em;
  color: white;
}

@media (max-width: 773px) {
  .btn11 {
    border-radius: 6px;
    box-shadow: none;
    border: none;
    background-color: #00CED1;
    margin: 11px 0;
    padding: 5px 0;
    font-size: 1.2em;
    color: white;
  }
}
