.navbar {
  border-radius: 0;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container-profile {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: Center;
}

#leaderboard {
  background-image: url("../img/strawberries.jpg");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ldbrd {
  color: #ffffffbb;
}

.ldbrdtext {
  font-size: 22px;
}

.table {
  
  background-color: #ffffffbb;
}

.padding-top {
  padding-top: 40px;
}

.user-profile {
  width: 100%;
  flex-direction: row;
  margin: auto;
}

.modal-bg {
  background-image: url("../img/Strawberry-bg.png");
}

#news {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-caption {
  padding-top: 20%;
}

#faq {
  background-image: url("../img/morestrawberries.jpg");
  background-image: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
}

.faqtext {
  font-size: large;
}

.panel {
  background-color: #ffffffbb;
}
