.navbar {
  border-radius: 0;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container-profile{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align:Center;
}

.padding-top {
  padding-top: 5%;
}

.user-profile {
  width:100%;
  flex-direction: row;
  margin: auto;
}

.avatar {
  height: 100px;
  width: 100px;
}
