.navbar {
  border-radius: 0;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container-profile {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: Center;
}

.padding-top {
  padding-top: 40px;
}

.user-profile {
  width: 100%;
  flex-direction: row;
  margin: auto;
}

.modal-bg {
  background-image: url("../img/Strawberry-bg.png");
}
